@charset "ISO-8859-1";

body {
	background-color: #d3dadf
}

th {
	border: 1px dotted black;
}

tr {
	font-size: 85%;
}

td {
	font-weight: bold;
}

.cybCompResultsDiv {
	margin-left: auto;
	margin-right: auto;
	border-style: double;
	background-color: #ecfbff;
	width: 25%;
	margin: auto;
	text-align: center;
}

.cybCompResults {
	font-weight: bold;
	font-size: 20px;
}

.reportTime {
	font-size: 15px;
}

.pkgNameDiv {
	margin-left: auto;
	margin-right: auto;
	border-style: double;
	background-color: #ecf5ff;
	width: 25%;
	margin: auto;
	text-align: center;
}

.pkgNamesP {
	font-size: 15px;
	font-weight: bold;
}

.pkgNames {
	font-size: 13px;
}

.VTPFStable {
	margin-left: auto;
	margin-right: auto;
	border-style: double;
	background-color: #f3fcff;
	display: inline-block;
}

.VTPFStableCaption {
	border-style: double;
	background-color: #d3f6ff;
	font-weight: bold;
}

.table1TopRow {
	margin-left: auto;
	margin-right: auto;
	border-style: double;
	background-color: #e5fbe5;
}

.passedTableCaption {
	border-style: double;
	background-color: #65e665;
	font-weight: bold;
}

.anomalyTable {
	margin-left: auto;
	margin-right: auto;
	border-style: double;
	background-color: #fbadad;
}

.anomalyCaption {
	border-style: double;
	background-color: #f97c7c;
	font-weight: bold;
}

.skippedTable {
	margin-left: auto;
	margin-right: auto;
	border-style: double;
	background-color: #ffc966;
}

.skippedCaption {
	border-style: double;
	background-color: #ffb733;
	font-weight: bold
}